# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar arquivos gerados em pycache
**/__pycache__/

# Ignorar arquivos gerados
/reports/arquivos_csv
/reports/graficos
/reports/html
/reports/imagens

# Ignorar variaveis de ambiente
.env

# Ignorar arquivos gerados nas pastas assets
src/visualizations/dashboard/parte1/assets/*
src/visualizations/dashboard/parte2/assets/*